@font-face {
	font-family: 'write';
	src:url('write.ttf');
}
html {
	width: 100%;
	height: 100%;
	position: relative;
	background-size: 100% auto;
	background-position: top;
	font-size: 22px;
	font-family: write;
}
a:visited {
	color:black;
	text-decoration:none;
}
a:hover {
	color:black;
	text-decoration:none;
}
a:active {
	color:red;
	text-decoration:none;
}
.title {
	font-size: 34px;
	font-weight: 500;
}
em {
	font-style: normal;
	color: skyblue;
	font-weight: 400;
}
.time {
	color: gray;
}
.tac {
	text-align: center;
}
a {
	text-decoration: none;
}
table{
        letter-spacing: 0.3px;
        line-height: 1.4;
        font-size: 16px;
	width: 100%;
	border-collapse: collapse;
}
th,td{
	border: 1px solid #999;
	text-align: center;
	padding: 20px 0;
}
table caption{
	font-size: 2em;
	font-weight: bold;
	margin: 1em 0;
}
table thead tr{
	background-color: #008c8c;
	color: #fff;
}
table tbody tr:nth-child(odd){
	background-color: #eee;
}
table tbody tr:hover{
	background-color: #ccc;
}
table tbody tr td:first-child{
	color: #f40;
}
table tfoot tr td{
	text-align: right;
	padding-right: 20px;
}