* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: normal;
    color: #000000;
}

h3 {
    color: #000000;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

    li span {
        display: block;
        font-size: 4.5rem;
    }

/* general styling */
html, body {
    height: 100%;
    margin: 0;
}

body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container {
    color: #000000;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}

video {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -99;
}